#contenedor {
        
    margin: 0 0 0 0;
}

#navbar {
    display: block;
    height: 75px;

    background: rgb(0, 0, 0);
    z-index: 9;
    text-align: center;
}

#nav {
    float:left;
    display:inline-block;
    
    margin: 0 auto;
    margin-left:30px;
    margin-right:50px;

    width: auto;
    padding: 0;
    overflow: hidden;
    font-size:25px;
}


#nav > li {
    float: left;
    cursor: pointer

    height: auto;
}

#nav > li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 20.9px;
    text-decoration: none;

    height: 75px;
}
