@import "../General/css_Menu.css";


.gl-header { background-image: url("../images/background_min.png"); }


.row {
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;

	width: 90wh;
}
