@import "./css_spMenu.css";

body{ 
	margin: 0px;
	overflow-y: scroll;

	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}


body::-webkit-scrollbar { display: none; }


* {box-sizing: border-box;}


.gl-header {
	height: 33vh;
	z-index: 1;

	background-image: url("../images/sport.jpg");
	background-color: rgb(28, 28, 28);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center center;
}


.row {
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;

	width: 90wh;
}
